<!DOCTYPE html>
<html lang="en" class="scroll-smooth">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load compress %}
    {% load static %}
    {% compress css %}
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    {% endcompress %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="icon" href="{% static 'media/icons/Logo.svg' %}" type="image/icon type">
    <title>SENTIGOV24 | Login</title>
</head>

<body>
    <!-- Start Login -->
    <section class="login" id="loginId">
        <div class="loginContent" id="loginContentId">
            <div class="bg-white md:grid md:grid-cols-2">
                <div class="bg-gradient-to-br from-purple-700 to-blue-500 bg-pink-500 p-[120px] context h-screen bg-no-repeat hidden md:block"><img
                        src="{% static 'media/icons/Phone1.svg' %}" alt="Phone1" /></div>
                <div class="md:container md:px-40 mx-10">
                    <div class="flex flex-col mt-32">
                        <div class="font-[Poppins-SemiBold] text-[45px] text-[#1E1D4C]">Hello, Sentizens !</div>
                        <div class="font-[Poppins-Regular] text-[15px] text-[#969696]">Sign In for more better features</div>
                        <form class="mt-14 space-y-6" action="{% url 'account:login' %}" method="POST">
                            {% csrf_token %}
                            <div class="relative">
                                <label class="font-[Poppins-Medium] ml-3 text-gray-700 tracking-wide text-[15px]">Email<span class="text-red-500"> *</span></label>
                                <input {% if not verified %} class="bg-red-200 w-full text-base px-4 py-2 border-2 border-red-500 focus:outline-none rounded-lg focus:border-indigo-500" {% endif %} class="w-full text-base px-4 py-2 border-2 border-gray-300 focus:outline-none rounded-lg focus:border-indigo-500" type="email" name="email" placeholder="mail@gmail.com" required>
                                <div {% if not verified %} class="font-bold text-red-500 block" {% endif %} class="font-bold text-red-500 hidden">Please enter a valid email address</div>
                            </div>
                            <div class="mt-8 content-center">
                                <label class="font-[Poppins-Medium] ml-3 text-gray-700 tracking-wide text-[15px]">Password<span class="text-red-500"> *</span></label>
                                <input {% if not verified %} class="bg-red-200 w-full text-base px-4 py-2 border-2 border-red-500 focus:outline-none rounded-lg focus:border-indigo-500" {% endif %} class="w-full content-center text-base px-4 py-2 border-2 rounded-lg border-gray-300 focus:outline-none focus:border-indigo-500" type="password" name="password" placeholder="Enter your password" required>
                                <div {% if not verified %} class="font-bold text-red-500 block" {% endif %} class="font-bold text-red-500 hidden">Please enter a valid password</div>
                            </div>
                            <div>
                                <button type="submit"
                                    class="w-full mb-24 flex justify-center bg-gradient-to-r from-indigo-500 to-blue-600  hover:bg-gradient-to-l hover:from-blue-500 hover:to-indigo-600 text-gray-100 p-4  rounded-lg tracking-wide font-semibold  shadow-lg cursor-pointer transition ease-in duration-500">
                                    Log In
                                </button>
                            </div>
                            <p
                                class=" font-[Poppins-regular] flex flex-col items-center justify-center mb-30 text-center text-gray-500">
                                <span>Don't have an account?</span>
                                <a href="{% url 'account:register' %}"
                                    class="text-indigo-400 hover:text-blue-500 no-underline hover:no-underline cursor-pointer transition ease-in duration-300 font-bold">Register</a>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Login -->
    <div class="font-[Poppins-Bold]" id="backButtonId">
        <div class="absolute top-0 right-0 mt-4 mr-6 text-gray-600 hover:opacity-75 transition-opacity text-[20px]"><a
                href="{% url 'home' %}">BACK</a></div>
    </div>
</body>

</html>